[Unit]
Description=Link Nix graphics driver runtime to /run/opengl-driver
After=local-fs.target nix.mount
Requires=nix.mount
ConditionPathExists=/var/nix-system/graphics-drivers
ConditionPathIsDirectory=/var/nix-system/graphics-drivers

[Service]
Type=oneshot
ExecStart=/usr/bin/ln -nsfT /var/nix-system/graphics-drivers /run/opengl-driver
ExecStop=/usr/bin/rm -f /run/opengl-driver
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
